.modal-label {
  color: #01010180;
  display: block;
  margin-bottom: 10px;
}

.modal-input {
  border: 1px solid #010101 !important;
  border-radius: 5px !important;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.modal-checkbox-row {
  margin-bottom: 10px;

  input {
    margin-right: 15px;
  }

  label {
    display: unset;
  }
}

form .modal-checkbox-row:last-of-type {
  margin-bottom: 25px;
}
