@use "../../../colors" as *;

.backdrop {
  background: $black75;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal {
  background: $white;
  box-sizing: border-box;
  left: 0;
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  padding: 45px 40px;
  position: absolute;
  right: 0;
  top: 25%;
  z-index: 100;
}
