.box {
  align-items: center;
  background: #f1f1f1;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
  padding: 17px 20px;
  width: 100%;
}

.box-title {
  color: #185a97;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;

  svg:hover {
    cursor: pointer;
  }
}
